:root {
  //--main-color: #027581;
  //--main-color: linear-gradient(to right,  #f7506d, #f98046);
  --main-color: mediumspringgreen;
  //--main-color: #f53803;
  //--main-gradient: linear-gradient(to right, red, #faae0a);
  //--main-gradient: linear-gradient(#f53803,#f5d020);
  --main-gradient: linear-gradient(to right, green, #f98046);
  //--main-light: rgba(252, 215, 7, 0.582);
  //--main-gradient: linear-gradient(to right,  #ac50f7, #5524b0);
  //--main-gradient: linear-gradient(to right,  #f7e92b, #f7e92b);
  //$bg-color: linear-gradient(to right,  #ac50f7, #5524b0);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --front-bg: #f2f1f5;
  --front-color: #f7506d;
  --front-color_1: #ffffff;
  --front-color_2: #f5f5f5;
  --box-shadow-1: 0 0.5rem 1.5rem rgba(65, 59, 59, 0.1);
  --box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  --btn-boxshadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn {
  background-color: #555;
}


.button-71 {
  background: mediumspringgreen;
  border-radius: 999px;
  box-shadow: mediumspringgreen 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/**@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

*/
.icon-btn {
  background: none;
  color: #fff;
  font-weight: 1000;
}

.search-bar {
  background-color: #222;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: larger;
  justify-content: center;
  color: #fff;
  padding: 0px 10px;

  input[type="text"] {
    width: 80%;
    background-color: transparent;
    border: none;
    height: 40px;
    font-size: large;
    color: #fff;

    &:focus-within {
      outline: none;
    }
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.global-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  .children {
    left: calc(200px);
    top: calc(80px);
    width: 100%;
    position: relative;
    width: 1149px;
  }
}

.navbar {
  display: flex;
  color: #fff;
  top: 0;
  background-color: hsl(0deg, 0%, 14%);
  max-height: 100px;
  min-height: 80px;
  position: fixed;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #555;
  justify-content: space-around;
  z-index: 100;

  .logo {
    font-size: 2em;
    font-weight: 700;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    span {
      cursor: pointer;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 2px slolid transparent;

      &:hover {
        color: var(--main-color);
        border-top: var(--main-color);
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  bottom: 0;
  left: 0;
  top: 80px;
  width: 200px;
  position: fixed;
  background-color: #000;
  align-items: center;
  color: #eee;
  padding-top: 2rem;
  justify-content: space-around;

  .nav {
    display: flex;
    flex-direction: column;
  }

  .sb-btn {
    width: 150px;

    button {
      width: 100%;
    }
  }

  nav {
    display: flex;
    padding: 1rem;
    width: 120px;
    height: 20px;
    align-items: center;

    &:hover {
      background-color: var(--main-color);
      color: #fff;
      border-radius: 8px;
    }

    span {
      display: flex;
      gap: 10px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }

    .badge {
      background: var(--main-color);
      border-radius: 50%;
    }
  }
}

.active {
  background-color: var(--main-color);
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox:hover input~.checkmark {
  background-color: #ccc;
}

.checkbox input:checked~.checkmark {
  background-color: var(--main-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.acc-btn {
  background-color: red;
  cursor: pointer;

  &::after {
    content: attr(data-content);
    margin-left: 2rem;
  }
}


/*
background-color: #333;
  color: #eee;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: 1px solid #222;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s ease-out;
  box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.75);
*/

.accordion {
  background-color: transparent;
  color: #eee;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  /* border: 1px solid #222; */
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s ease-out;
  /* box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.75); */
}

.accordion-child {
  border-radius: 1rem 1rem 0 0;
}

.accordion:nth-last-child(1) {
  border-radius: 0 0 1rem 1rem;
}

.accordion:nth-last-child(1):hover {
  background: crimson;
}

.active,
.accordion:hover {
  border-color: var(--main-color);
}

.accordion:focus-within {
  outline: none
}

.accordion:after {
  content: "\002B";
  color: #eee;
  font-weight: bold;
  float: right;
  margin-left: 0.5rem;
}

.active:after {
  content: "\2212";
}

.accordion-content {
  padding: 0 1rem;
  background-color: #222;
  color: #aaa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-content ul {
  list-style-type: circle;
  margin: 1rem 0;
  padding: 0.2rem;
}

.accordion-content ul li {
  padding: 0.2rem 0;
}

.mes_bar {
  //width: 300px;
  padding: 10px;
  background-color: hsl(0, 0%, 14%);
}

.chat_bar {
  background-color: hsl(0, 0%, 14%);
  padding: 10px;
  min-width: 550px;
  font-size: smaller;
  color: #fff;

  .top {
    background-color: #000;
    height: 60px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &>div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: .5rem;
    }
  }

  .chatbox {
    background-color: rgb(24, 22, 22);
    height: 100%;

    .chat-input {
      display: flex;
      flex-direction: row;
      padding: .5rem 10px;
      justify-content: space-around;
      align-items: center;
      background: rgba(34, 34, 34, 0.5411764706);
      position: absolute;
      width: 370px;
      border-radius: 10px;
      max-width: 450px;
      margin: 300px 53px;

      input[type="text"] {
        width: 80%;
        background-color: transparent;
        border: none;
        height: 40px;
        font-size: large;
        color: #fff;
      }

      input[type="text"]:focus-within {
        outline: none
      }

      .controls {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        gap: .3rem;

        span {
          padding: 0.5rem;
          cursor: pointer;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #555;
          }
        }

        span#send-btn {
          background-color: var(--main-color);
          border-radius: 10px;

          &:hover {
            background-color: rgb(15, 109, 15);
          }
        }

        button {
          width: 20px;
        }
      }
    }
  }
}

.extras {
  background-color: hsl(0deg, 0%, 14%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user_card {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px 1rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;

  .controls {
    display: flex;
    gap: 1rem;

    span {
      padding: 10px;
      background: #0000002b;
      border-radius: 10px;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: #222;
      }
    }
  }

  .bio {
    display: flex;
    flex-direction: column;
  }
}

.photo_badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: relative;

  .badge {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #222;
    overflow: hidden;

    img {
      width: 100%;
    }

    &::after {
      //attrib(data-content)
      content: "5";
      color: #eee;
      background-color: var(--main-color);
      float: right;
      padding: 8px 8px 8px 8px;
      width: 5px;
      display: flex;
      height: 5px;
      z-index: 1000;
      position: absolute;
      border-radius: 50%;
      margin: -30px 22px;
      align-items: center;
      justify-content: center;
    }
  }
}

.no_badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #222;
  overflow: hidden;

  img {
    width: 100%;
  }

}

.checkboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  padding: 10px;

  .appt {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    font-size: smaller;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input[type="checkbox"] {
      background-color: #222;
    }

    div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.pos {
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user {
    display: flex;
    align-items: center;
  }

  .bio {
    font-size: medium;
  }

  span.user-dets {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.4;
    flex-direction: column;
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  gap: 1rem;

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    justify-content: center;
    gap: .5rem;
  }

  .no {
    color: #666;
    font-weight: 700;
  }
}

.message {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: smaller;
  cursor: pointer;
  background-blend-mode: overlay;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    background-color: rgb(24, 22, 22);
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none
  }

  .children {
    left: 0px;
    width: 100%;
    position: inherit;
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
  }

  .navbar nav {
    display: none;
  }
}



/*

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  &:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
*/