@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --navbar: #fff;
 // --main-color: #3730a3;
  --main-color: #0f172a;
  --sidebar: #555;
  --mainbgColor: #eee;
  --panel: #eee;
  --chatbox: #cbd5e1;
  --searchbar-color: #0f172a;
  --searchbar: #cbd5e1;
  --chatbar_top: #4f46e5;
  --meshover: #cbd5e1;
  --onhover_1: rgba(34, 34, 34, 0.425);
  //--meshover: rgb(24, 22, 22);
  --main-gradient: linear-gradient(to right, green, #f98046);
  --font-color_1: #ffffff;
  --font-color_2: blue;
  --font-color_3: #555;
  --box-shadow_4: 0px 4px 20px 0px #cbd5e1;
  --box-shadow-1: 0 0.5rem 1.5rem rgba(65, 59, 59, 0.1);
  --box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  --btn-boxshadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

a {
  font-weight: 700;
  text-decoration: inherit;
  font-size: medium;
}


body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*

*/
